:root {
  --add: #399449;
  --doing: #e25555;
  --report: #cc0d0d;
  --final: #2b17d29c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  max-width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
}

.container-fluid {
  min-width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
ul {
  list-style: none;
}

/* Header */

header {
  width: 100%;
  background: #026aa7;
  z-index: 100;
}

header .header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 7px;
}

/* Left Header */
header .header .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
}

header .header .left-header a i {
  font-size: 1.5rem;
  color: #fff;
}

header .header .left-header .left-header-search input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
  width: 230px;
}

header .left-header .left-header-search input:focus {
  outline: none;
}
header .left-header .left-header-search {
  position: relative;
}
header .left-header .left-header-search i {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px;
  background: #002bff80;
  height: 100%;
  border-radius: 4px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

/* End left header */

/* Right heade */

header .header .right-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
  /* justify-content: center; */
  align-items: center;
  justify-self: end;
  /* justify-items: center; */
  font-size: 1.1rem;
}
header .header .right-header img {
  width: 25px;
  height: auto;
  cursor: pointer;
  background: #1f41e8ad;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-self: end;
}
header .header .right-header .my-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  position: relative;
}
header .header .right-header i {
  font-size: 1rem;
  color: #a0a03e;
  cursor: pointer;
}
header .header .right-header .entertainment {
  justify-self: center;
}
header .header .right-header .entertainment i {
  padding: 0 10px;
  font-size: 1.1rem;
}
header .header .right-header .playing {
  font-size: 1.1rem;
}
header .header .i-menu-mobile {
  display: none;
  z-index: 100;
}

header .header .right-header .my-user .menu-user {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  border: 1px solid #7b5d5d66;
  z-index: 10;
}

header .header .right-header .my-user .menu-user ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  line-height: 2;
}

header .header .right-header .my-user .menu-user ul li {
  border-bottom: 1px solid #7b5d5d66;
}

header .header .right-header .my-user .menu-user ul li:last-child {
  border-bottom: none;
}

header .header .right-header .my-user .menu-user ul li a {
  display: block;
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 15px;
}

/* End header */

/* Main */

.__main-todo {
  width: 100%;
}

.main-todo {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  height: 100vh;
}

.main-todo .cart-todo {
  width: 100%;
  color: #fff;
  margin: 5px 0;
}

.main-todo .todo-add .cart-todo {
  background: var(--add);
}

.main-todo .todo-doing .cart-todo {
  background: var(--doing);
}

.main-todo .todo-report .cart-todo {
  background: var(--report);
}

.main-todo .todo-final .cart-todo {
  background: var(--final);
}

.main-todo .title {
  user-select: none;
}

.main-todo .title i {
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.main-todo .title-add {
  color: var(--add);
}
.main-todo .title {
  margin-bottom: 10px;
  text-align: center;
}

.main-todo .title-doing {
  color: var(--doing);
}
.main-todo .title-report {
  color: var(--report);
}

.main-todo .title-final {
  color: var(--final);
}

.main-todo .cart-todo-title {
  padding: 10px;
}
.main-todo .cart-todo {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.2rem;
  transition: all;
}

/* .main-todo .cart-todo-move{
  background-color: blue!important;
} */

/* End main */

/* Menu mobile */

.menu-mobile {
  /* display: none!important; */
  transform: translateX(-300px);
  background: #026aa7e0;
  width: 300px;
  z-index: 10;
  height: 100%;
  position: fixed;
  z-index: 1000;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 0.72);
}

.menu-mobile .header-menu-mobile {
  display: flex;
  font-size: 1.5rem;
  margin: 10px;
}

.menu-mobile .header-menu-mobile .title-menu-mobile {
  font-size: 3rem;
}

.menu-mobile .header-menu-mobile .notification-menu-mobile {
  margin-left: auto;
  color: red;
}

.menu-mobile .header-mid-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-mobile .header-mid-menu-mobile .playing {
  font-size: 1.3rem;
}
.menu-mobile .header-mid-menu-mobile .entertainment {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.menu-mobile .user-menu-mobile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-menu-mobile {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: none;
}

.show-bg-menu-mobile {
  display: block;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  /* background:  rgba(0, 0, 0, 0.1); */
}
/* End menu mobile */

/* responsive  */
@media (max-width: 1092px) {
  header .header .right-header {
    display: none;
  }
  header .header .i-menu-mobile {
    display: block;
    font-size: 20px;
    justify-self: end;
  }
  .main-todo .cart-todo {
    font-size: 1.1rem;
  }
  .show-menu-mobile {
    display: block;
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  .main-todo {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  header .header {
    grid-template-columns: 1fr 1fr;
  }
  header .header .mid-header {
    display: none;
  }
  .main-todo {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
  .main-todo .title span {
    display: none;
  }
  .header .header .i-menu-mobile {
    justify-self: end;
  }
}

@media (max-width: 450px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
  .main-todo {
    grid-template-columns: 1fr;
    width: 85%;
  }
  .main-todo .title i {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
