* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  min-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}
a:active{
    color: black;
}
a:visited{
    color: black;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
}
.container-fluid {
  min-width: 100vw;
  min-height: 100vh;
}

/* Header */
header {
  background: #026aa7;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px 5px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

/* Left Header */
header .left-header {
  display: flex;
}

header .left-header a i {
  font-size: 25px;
  color: #fff;
}

header .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: start; */
  justify-self: start;
}
header .left-header .left-header-search input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
}
header .left-header .left-header-search input:focus {
  outline: none;
}
header .left-header .left-header-search {
  position: relative;
}
header .left-header .left-header-search i {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px;
  background: #002bff80;
  height: 100%;
  border-radius: 4px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}
/* End left header */

/* Right header */
header .right-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  justify-items: center;
}
header .right-header img {
  width: 25px;
  height: auto;
  cursor: pointer;
  background: #1f41e8ad;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
header .right-header i {
  font-size: 20px;
  color: #a0a03e;
  cursor: pointer;
}
header .right-header .my-user .menu-user {
  display: none;
  position: fixed;
  right: 5px;
  top: 50px;
  border: 1px solid #7b5d5d66;
}

header .right-header .my-user .menu-user ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  line-height: 2;
}

header .right-header .my-user .menu-user ul li {
  border-bottom: 1px solid #7b5d5d66;
}

header .right-header .my-user .menu-user ul li:last-child {
  border-bottom: none;
}

header .right-header .my-user .menu-user ul li a {
  display: block;
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 15px;
}
/* header .right-header .my-user:hover .menu-user {
  display: block !important;
} */

header .right-header .entertainment {
  width: 100px;
}
header .right-header .entertainment {
  display: flex;
  justify-content: space-between;
}

header .right-header .notification{
    justify-self: end;
}
/* End right header */


/* Mid header */

/* End mid header */
