:root {
  --add: #399449;
  --doing: #e25555;
  --report: #cc0d0d;
  --final: #2b17d29c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  max-width: 100vw;
  min-height: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
}
.container-fluid {
  min-width: 100%;
  /* min-height: 100vh; */
}

/* Header */
header {
  background: #026aa7;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px 5px;
  /* position: fixed;
          top: 0;
          right: 0; */
  width: 100%;
}

/* Left Header */
header .left-header {
  display: flex;
}

header .left-header a i {
  font-size: 25px;
  color: #fff;
}

header .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
}
header .left-header .left-header-search input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
}
header .left-header .left-header-search input:focus {
  outline: none;
}
header .left-header .left-header-search {
  position: relative;
}
header .left-header .left-header-search i {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px;
  background: #002bff80;
  height: 100%;
  border-radius: 4px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}
header .menu-mobile {
  display: none;
}
/* End left header */

/* Right header */
header .right-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  justify-items: center;
}
header .right-header img {
  width: 25px;
  height: auto;
  cursor: pointer;
  background: #1f41e8ad;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
header .right-header i {
  font-size: 20px;
  color: #a0a03e;
  cursor: pointer;
}
header .right-header .my-user .menu-user {
  display: none;
  position: fixed;
  right: 5px;
  top: 50px;
  border: 1px solid #7b5d5d66;
  z-index: 10;
}

header .right-header .my-user .menu-user ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  line-height: 2;
}

header .right-header .my-user .menu-user ul li {
  border-bottom: 1px solid #7b5d5d66;
}

header .right-header .my-user .menu-user ul li:last-child {
  border-bottom: none;
}

header .right-header .my-user .menu-user ul li a {
  display: block;
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 15px;
}

header .right-header .entertainment {
  width: 100px;
}
header .right-header .entertainment {
  display: flex;
  justify-content: space-between;
}

header .right-header .notification {
  justify-self: end;
  user-select: none;
}
/* End right header */

/* Mid header */
header .mid-header {
  font-size: 25px;
  user-select: none;
}
/* End mid header */

/* Main todo */

section.main-todo {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
}

.main-todo .cart-todo {
  width: 100%;
  color: #fff;
  margin: 5px 0;
}
.main-todo .todo-add .cart-todo {
  background: var(--add);
}

.main-todo .todo-doing .cart-todo {
  background: var(--doing);
}

.main-todo .todo-report .cart-todo {
  background: var(--report);
}

.main-todo .todo-final .cart-todo {
  background: var(--final);
}

.main-todo .title {
  user-select: none;
}

.main-todo .title i {
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.main-todo .title-add {
  color: var(--add);
}
.main-todo .title {
  margin-bottom: 8px;
  text-align: center;
}

.main-todo .title-doing {
  color: var(--doing);
}
.main-todo .title-report {
  color: var(--report);
}

.main-todo .title-final {
  color: var(--final);
}

.main-todo .cart-todo {
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  section.main-todo {
    grid-template-columns: 1fr 1fr;
  }
  header .right-header {
    display: none;
  }
  header .menu-mobile {
    display: block;
    font-size: 20px;
    justify-self: end;
  }
}

@media (max-width: 550px) {
    header{
        grid-template-columns: 1fr 1fr;
    }
  section.main-todo {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
  .main-todo .title span {
    display: none;
  }
  header .right-header,
  .mid-header {
    display: none;
  }
}

@media (max-width: 450px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
  section.main-todo {
    grid-template-columns: 1fr;
    width: 85%;
  }
  .main-todo .title i {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
